.cardimageIcon {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.destination,
.from,
.price {
  position: relative;
  color: var(--color-white);
}
.destination {
  flex: 1;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-family: var(--font-roboto);
  text-align: left;
}
.from,
.price {
  text-align: right;
}
.from {
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
}
.price {
  font-size: var(--font-size-19xl);
  line-height: 38px;
  font-family: var(--font-baloo-bhai);
}
.destinationDetails,
.details {
  display: flex;
  justify-content: flex-start;
}
.details {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-11xs);
}
.destinationDetails {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: flex-start;
  z-index: 1;
}
.pariscard,
.popularDestinationCard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.pariscard {
  align-self: stretch;
  border-radius: var(--br-3xs);
  height: 182px;
  padding: 0 0 var(--padding-88xl);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.popularDestinationCard {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: transparent;
  width: 25%;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .popularDestinationCard {
    padding: var(--padding-base);
    box-sizing: border-box;
    width: 50%;
  }
}
@media screen and (max-width: 420px) {
  .popularDestinationCard {
    width: 100%;
  }
}
