.popularStays1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  width: 1126px;
}
.popularStaysTitle {
  flex: 1;
  position: relative;
  height: 35px;
}
.viewAllStays {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-cornflowerblue-300);
  text-align: right;
}
.arrowRightIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.viewAllStaysButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  border-radius: var(--br-12xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.hotelCards,
.popularStaysHeader {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.popularStaysHeader {
  display: flex;
  justify-content: center;
}
.hotelCards {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  font-size: var(--font-size-base);
}
.viewAllStays1 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.mobileViewAllStays,
.popularStays {
  align-items: flex-start;
  justify-content: flex-start;
}
.mobileViewAllStays {
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
  display: none;
  flex-direction: row;
  gap: var(--gap-3xs);
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-300);
}
.popularStays {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 960px) {
  .viewAllStaysButton {
    display: none;
  }
  .viewAllStays1 {
    width: auto;
  }
  .mobileViewAllStays {
    display: flex;
    margin-top: 16px;
  }
}
@media screen and (max-width: 420px) {
  .popularStays1 {
    font-size: var(--font-size-3xl);
  }
}
