.formTitle,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
}
.formTitleSubtext {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.formTitle {
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-100);
}
.formHeadingSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.formDescription {
  align-self: stretch;
  position: relative;
  line-height: 34px;
}
.formText {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.avatar,
.op {
  align-items: center;
  justify-content: center;
}
.op {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
  display: flex;
}
.avatar {
  border-radius: var(--br-45xl);
  background-color: var(--color-silver);
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: row;
}
.chip1 {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 18px;
}
.typography {
  display: flex;
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-7xs);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-300);
}
.cancelIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.container {
  border-radius: var(--br-base);
  background-color: var(--color-gainsboro-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs);
  align-items: center;
  justify-content: flex-start;
}
.chip,
.muiautocompletetag {
  align-items: flex-start;
  justify-content: flex-start;
}
.chip {
  display: flex;
  flex-direction: column;
}
.muiautocompletetag {
  display: none;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.yourName {
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.15px;
  line-height: 24px;
  color: var(--color-gray-400);
  text-align: left;
}
.closeIcon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.iconbutton,
.unstylediconbutton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.unstylediconbutton {
  border-radius: var(--br-29xl);
  flex-direction: row;
  padding: var(--padding-9xs);
}
.iconbutton {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
}
.muiAutocompleteIndicator {
  position: relative;
  width: 28px;
  height: 28px;
  display: none;
}
.arrow,
.inactive {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.inactive {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-base) 0;
  align-items: center;
  gap: var(--gap-5xs);
}
.input {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-gray-500);
  padding: 0 var(--padding-xs);
}
.destinationNameInput,
.formFields,
.input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.formFields {
  gap: var(--gap-3xs);
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-200);
}
.submit {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.searchButton {
  border-radius: var(--br-9xs);
  background-color: var(--color-orange-200);
  width: 164px;
  height: 56px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.searchButton:hover {
  background-color: var(--color-darkgoldenrod-100);
}
.form {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-whitesmoke-200);
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xl) var(--padding-11xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
  color: var(--color-slategray);
}
.shareYourTravelsForm,
.subscribeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shareYourTravelsForm {
  width: 549px;
  padding: var(--padding-xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  margin-left: auto;
  margin-right: auto;
  position: relative !important;
  left: auto !important;
}
.subscribeSection {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-33xl) var(--padding-xl);
  justify-content: center;
  background-image: url(/public/subscribe-section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.logoIcon {
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
  flex-shrink: 0;
}
.fickleFlightDescription {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.facebookIcon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.socialIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.fickleflightBio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  margin-bottom: 40px !important;
}
.seperator {
  align-self: stretch;
  position: relative;
  border-right: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 1px;
}
.company {
  line-height: 27px;
  font-weight: 500;
}
.aboutUs,
.company,
.howWeWork {
  position: relative;
}
.howWeWork {
  display: inline-block;
  width: 197px;
}
.companyLinks,
.companySection,
.moreSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.companyLinks {
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
}
.companySection,
.moreSection {
  gap: var(--gap-2xl);
}
.footerLinks {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-xl);
}
.footer,
.footerSection {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  font-family: var(--font-roboto);
}
.footer {
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  padding: var(--padding-14xl) var(--padding-65xl);
  gap: var(--gap-25xl);
  text-align: left;
  color: var(--color-white);
}
.footerSection {
  flex-direction: column;
  text-align: center;
  color: var(--color-cornflowerblue-300);
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .shareYourTravelsForm {
    padding: var(--padding-5xl) 0;
    box-sizing: border-box;
  }
  .fickleflightBio {
    flex: unset;
    align-self: stretch;
  }
  .seperator {
    display: none;
  }
  .footerLinks {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .searchButton {
    width: 100%;
  }
  .shareYourTravelsForm {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .companySection {
    margin-bottom: 40px !important;
  }
  .footerLinks {
    flex-direction: column;
  }
  .footer {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
